<h2>MENU </h2>
<div class="row">


  <ul class="list-group">
    <li class="list-group-item">
      <a routerLink=" /home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home Page</a>
    </li>
    <li class="list-group-item">
      <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About Page</a>
    </li>

    <li class="list-group-item">
      <a routerLink="/contacts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contactos</a>

    </li>

    <li *ngIf="!this.currentUser" class="list-group-item">
      <a routerLink="/auth/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Login</a>
    </li>
    <br>
    <li *ngIf=" !!this.currentUser" class="list-group-item"><a href="#" (click)="this.emitLogout()">Logout</a>
    </li>
  </ul>
</div>

<div class="row">
  <p>{{this.currentUser?.email}}</p>
</div>